<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- You can comment out the line below if you are getting errors doing a package restore (i.e a promt for credentials). -->
        <add key="DevOps Artifacts" value="https://pkgs.dev.azure.com/wdcossey/GitHub/_packaging/SciterCore/nuget/v3/index.json" />
        <add key="local" value="..\.artifacts" />
    </packageSources>
</configuration>