
html {
  var(no-focus): #444f; 
  border: window-frame-width solid color(no-focus);
}

html:owns-focus {
  border-color: color(accent-color);
}

html > header { 
  width:*; 
  background-color: color(no-focus);
}

html:owns-focus > header {
  background-color: color(header-bg-color);
}

html > header > window-icon {
  display: block;
  size: window-caption-height;
  background: url(icons8-fluent-popular-idea.svg) no-repeat 50% 50%;
  background-size: 16dip;
}

html > header > ul#menu-bar { height:window-caption-height; }
html > header { width:*; flow:horizontal; height:window-caption-height; margin:0; overflow: hidden; } 
/*html > header { width:*; flow:horizontal; height:window-caption-height; margin:0; overflow: hidden; } */
html > header > window-caption { 
  display:block; 
  line-height:window-caption-height; 
  width:*; 
  padding:0 1em; 
  color:white; 
  opacity: 0.75; 
  text-align: center;
  text-overflow:ellipsis; 
  overflow-x:hidden; 
  text-wrap: none;
  white-space: nowrap;
}
html > header > window-buttons { display:block; flow:horizontal; width:max-content; height:*; }
html > header > window-buttons > window-button { 
  behavior:clickable; 
  display:block; 
  height:*; 
  width:window-button-width; 
  foreground-size: 11dip;
  foreground-repeat: no-repeat;
  foreground-position:50% 50%;
  stroke:white;
  stroke-width:1dip;
  transition: background-color linear 100ms;
}
html > header > window-buttons > window-button:hover { 
  background:rgba(0,0,0,0.25);   
}
html > header > window-buttons > window-button[role="window-close"] { stroke-width:1.44dip; foreground-image: url(path:M0 0 L10 10 M10 0 L0 10); }
html > header > window-buttons > window-button[role="window-close"]:hover { background:rgb(232,17,35); stroke:#fff; }

html > header > window-buttons > window-button[role="window-maximize"] { foreground-image: url(path:M0 0 H10 V10 H0 Z); }

html[window-state="maximized"] { border-color:transparent; }
html[window-state="maximized"] > header > window-buttons > window-button[role="window-maximize"] { foreground-image: url(path:M0 2 h8 v8 h-8 Z M2 2 v-2 h8 v8 h-2); }
html > header > window-buttons > window-button[role="window-minimize"] { foreground-image: url(path:M0 0 M0 5 H10 M10 10); }

frame { size:*; background-color: transparent; }
